/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
body{
    font-family: 'Fredoka', sans-serif;
}

body{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

header{
    margin:4rem 0;
    color: rgb(228, 52, 111);
}

p{
    margin-bottom: 2.5rem;
}

.box {
    float: left;
    width: calc(100% / 3);
    padding: 20px;
    display: inline-block;
}

.box img {
    height: 100px;
    float: left;
}

.card {
    background-color: black;
    color: white;
    padding: 0;
    height: 100px;
}

.x{
    text-align: start;
}

.mail{
    color: aqua;
}